<a href="https://colab.research.google.com/github/ucchol/docker/blob/main/Data_Mining_Holt_Winters.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import pandas as pd
import numpy as np
%matplotlib inline

In [2]:
airline = pd.read_csv('airline_passengers.csv',\
                     index_col='Month', parse_dates=True)

In [3]:
airline

            Thousands of Passengers
Month
1949-01-01                      112
1949-02-01                      118
1949-03-01                      132
1949-04-01                      129
1949-05-01                      121
...                             ...
1960-08-01                      606
1960-09-01                      508
1960-10-01                      461
1960-11-01                      390
1960-12-01                      432

[144 rows x 1 columns]

In [4]:
airline.dropna(inplace=True)

In [5]:
airline.index

DatetimeIndex(['1949-01-01', '1949-02-01', '1949-03-01', '1949-04-01',
               '1949-05-01', '1949-06-01', '1949-07-01', '1949-08-01',
               '1949-09-01', '1949-10-01',
               ...
               '1960-03-01', '1960-04-01', '1960-05-01', '1960-06-01',
               '1960-07-01', '1960-08-01', '1960-09-01', '1960-10-01',
               '1960-11-01', '1960-12-01'],
              dtype='datetime64[ns]', name='Month', length=144, freq=None)

In [6]:
airline.index.freq='MS'

In [7]:
from statsmodels.tsa.holtwinters import SimpleExpSmoothing

span=12
alpha=2/(span+1)

#EWMA or SimpleExpSmoothing

model = SimpleExpSmoothing(airline['Thousands of Passengers'])

fittedModel=model.fit(smoothing_level=alpha, optimized=False)
airline['SES12']=fittedModel.fittedvalues.shift(-1)

airline['EWMA12']=airline['Thousands of Passengers'].\
    ewm(span=12, adjust=False).mean()

In [8]:
airline

            Thousands of Passengers       SES12      EWMA12
Month
1949-01-01                      112  112.000000  112.000000
1949-02-01                      118  112.923077  112.923077
1949-03-01                      132  115.857988  115.857988
1949-04-01                      129  117.879836  117.879836
1949-05-01                      121  118.359861  118.359861
...                             ...         ...         ...
1960-08-01                      606  494.898619  494.898619
1960-09-01                      508  496.914216  496.914216
1960-10-01                      461  491.388952  491.388952
1960-11-01                      390  475.790652  475.790652
1960-12-01                      432         NaN  469.053629

[144 rows x 3 columns]

In [16]:
from statsmodels.tsa.holtwinters import ExponentialSmoothing

airline['EXPSmooth']=ExponentialSmoothing(airline['Thousands of Passengers'],
                    trend='mul').fit().fittedvalues.shift(-1)

In [15]:
airline.plot